<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Tune Out</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
   <body>
   <h1>Welcome to Tune Out.</h1>
   <h2>What subject are you studying now?</h2>
  <div=form>
    <form method="POST" action="/subject">
      <input type="radio" name="subject" value="History">History<br>
      <input type="radio" name="subject" value="Math">Math<br>
      <input type="radio" name="subject" value="Science">Science<br>
      <input type="radio" name="subject" value="English">English<br>
      <input type="submit" value="Get Playlist">
    </form>
   </div>
 </body>
</html>