<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Tune Out</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Welcome to Tune Out.</h1>
   <h2>What subject are you studying now?</h2>
  <div>
   <form action="">
<input type="radio" name="subject" value="history">history<br>
<input type="radio" name="subject" value="math">math<br>
<input type="radio" name="subject" value="science">science<br>
<input type="radio" name="subject" value="English">English 
</form>
   </div>
 </body>
</html>