<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Subject Playlist</title>
  <link rel="stylesheet" href="style.css" type="text/css">
 </head>
 <body>
   <h1><%= @title %></h1>
   <!--this embeds a playlist-->
  <%= @playlist %>

   <img src="<%= @picture%>"> <!--calling the variable we set for the micture in the method and the app controller-->
   <br>
   <%= @description %>
 </body>
</html>